*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    background-color:#f5f5ee;
}
nav{
width: 96%;
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 10px;
}
.left-side{
    display: flex;
    gap: 2em;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 1em;
}
.menu-list li a{
    color: black;
}
.menu-list li a:hover{
    color: #98DEEE;
}
.right-side{
    display: flex;
    gap: 2em;
    align-items: center;
}
.btn{
    padding: 10px 12px;
    border-radius: 6px;
    background-color: #EE5D19;
    border: none;
}
.btn a{
    font-size: 1.2em;
    font-weight: 600;
    color: white;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.text{
    margin: auto;
    font-size: 2em;
    color: #fb651e;
}
.text p{
    color: #222;
}
.bot{
    padding: 11px 50px;
    border-radius: 10px;
    border: none;
background-color: #fb651e;
}
.bot a{
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}
.bot:hover{ 
    background-color: #fda942;
}
.list{
position: relative;
}
.dropdown{
    width: 170px;
    position: absolute;
    background-color: #fff;
    display: none;
    top: 100%;

}
.dropdown li{
    color: #1f2937;
    font-family: sans-serif;
    list-style-type: none;
    font-weight: 200;
    font-size: 16px;
    padding: 10px;
}
.list a:hover .dropdown{
    display: block;
    position: absolute;
    
}
.list:hover .dropdown{
    display: block;
    z-index: 22;
    
}
.dropdown li:hover{
    background-color: #f5f5ee;

}
.card{
    background-color:#f5f5ee;
    padding: 40px 60px;
    position: absolute;
    right: 500px;
    border-radius: 20px;
    top: 130px;
}
.card h1{
    font-weight: 700;
    font-size: 36px;
    color: #fb651e;
}
.card p{
    font-size: 16px;
    color: #222;
    font-weight: 200;
}
.card2{
    background-color: #f5f5ee;
    padding: 40px 50px;
    position: absolute;
    right: 500px;
    border-radius: 20px;
    top: 290px;
}  
.card2 h1{
   font-weight: 700;
    font-size: 36px;
    color: #fb651e; 
}
.card2 p{
font-size: 16px;
    color: #222;
    font-weight: 200;
}


































